/* VARIABLES */
:root {
    --black: #000000;
    --deepBlue: #4E4FEB;
    --lightBlue: #068FFF;
    --grey: #B9B4C7;
    --borderRadius: 2em;
}

/* GLOBAL STYLING */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black;
}

body {
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
}

ul {
    list-style: none;
}

/* 
===============
NAVIGATION MENU
===============
*/

header {
    width: 90vw;
    margin: 0 auto;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 1.2em;
    margin: 0 auto;
}

.menu-btn {
    padding: 1rem;
    color: var(--black);
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    transition: 0.7s;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 0px;
    overflow: hidden;
    transition: 0.3s;
}

.nav-item {
    text-decoration: none;
    text-align: center;

    width: 70%;

    font-size: 1.2rem;

    padding: 1rem 0;
    margin-bottom: 1rem;

    border-bottom: 1px solid var(--grey);
}

.show-items {
    height: 288px;
}

@media screen and (min-width:700px) {
    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2rem 2rem; 
    }
    
    .btn-container {
        display: none
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    
        height: auto;
    }

    .nav-item {
        text-decoration: none;
        text-align: center;
    
        width: 70%;
    
        font-size: 1.2rem;
    
        padding: 1rem 1.5rem;
        margin-bottom: 0;
    
        border-bottom: none;
    }
}

/* 
===============
ABOUT
===============
*/

.banner {
    text-align: center;
    margin-top: 0.6rem;
}

.about-me {
    padding: 0 1rem;
}

.about-me p {
    padding: 1.5rem;
    line-height: 1.5;
}

.mypic-container {
    width: 60vw;
    margin: 0 auto;

}

.mypic-container img {
    width: 100%;
    border-radius: var(--borderRadius);
    box-shadow: 0 0 3px;
}

/* 
===============
SKILLS
===============
*/

.skills {
    text-align: center;
    margin-top: 1.5rem;
}

.skills-container {
    display: grid;
}

.skills-content {
    box-shadow: 0 0 3px;
    margin: 1rem auto;
    border-radius: var(--borderRadius);
    padding: 0.85rem;

    width: 50%;

}

.skills-list {

}

.skill {
    padding: 0.5rem 0;
}

/* 
===============
PROJECTS
===============
*/
.projects {
    margin-top: 1.5rem;
    text-align: center;
}

.projects-container {
 
}

.project {
    width: 50vw;
    margin: 2rem auto;

    display: grid;
}

.project img {
    width: 100%;
    margin-top: 0.5rem;
}

/* 
===============
CONTACT
===============
*/

.contact {
    text-align: center;
    margin-top: 1.5rem;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 2rem;
}

/* 
===============
FOOTER
===============
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px
}

