/* VARIABLES */
:root {
    --black: #000000;
    --deepBlue: #4E4FEB;
    --lightBlue: #068FFF;
    --grey: #B9B4C7;

    --borderRadius: 2em;

    --sectionTopMargin: 1rem;

    --sectionPadding: 0.6rem;
}

/* GLOBAL STYLING */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black;
}

body {
    width: 95vw;
    margin: 0 auto;
}

ul {
    list-style: none;
}

/* 
===============
NAVIGATION MENU
===============
*/
.btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    margin: 0 auto;
}

.menu-btn {
    padding: 1rem;
    color: var(--black);
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    transition: 0.7s;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    height: 0px;
    overflow: hidden;
    transition: 0.3s;
}

.nav-item {
    text-decoration: none;
    text-align: center;

    width: 70%;

    font-size: 1rem;

    padding: 0.85rem 0;
    margin-bottom: 1rem;

    border-bottom: 1px solid var(--grey);
}

.show-items {
    height: 288px;
}

@media only screen and (min-width:750px) {
    .btn-container {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    
        height: auto;
    }

    .nav-item {
        text-decoration: none;
        text-align: center;
    
        width: 6rem;
    
        font-size: 1.3rem;
    
        padding: 1rem;
        margin: 1rem 0.5rem;
    
        border-bottom: none
    }
}

/* 
===============
HERO
===============
*/

.hero {
    padding: var(--sectionPadding);
}

.hero-heading {
    margin-bottom: 0.5em;
}

.hero-text {
    margin-bottom: 1.5em;
}

.hero-text p {
    line-height: 1.5;
}

.hero-pic {
   max-width: 100%;
   display: flex;
   justify-content: center;
}

.hero-pic img {
    width: 65%;
    border-radius: 5%;
} 

/* 1145px */

@media only screen and (min-width:1145px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        width: 70vw;
        margin: var(--sectionTopMargin) auto;
    }

    .hero-heading {
        margin-bottom: 0.5em;
    }
    
    .hero-text {
        margin-bottom: 1.5em;
    }
    
    .hero-text p {
        line-height: 1.5;
    }

    .hero-pic {
        justify-content: center;
    }

    .hero-pic img {
        width: 80%;
    }
}

/* 
===============
SKILLS
===============
*/

.skills {
    padding: var(--sectionPadding);
    height: auto;
}

.skills-container {
    
}

.skill-set {
    margin-top: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skill-set i {
    margin: 1.5rem;
}

@media only screen and (min-width:1145px) {
    .skills {
        width: 70vw;
        margin: 2rem auto;
    }
}

/* 
===============
PROJECTS
===============
*/

.projects {
    padding: var(--sectionPadding)
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project {
    margin-top: 1rem;
}

.project h4 {
    margin-bottom: 0.5rem;
}

.project-img {
}

.project-img img {
    border-radius: 5%;
    box-shadow: 0 0 2.5px;
}

@media screen and (min-width:1145px) {
    .projects {
        width: 70vw;
        margin: 0 auto;
    }

    .projects-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

/* 
===============
CONTACT ME
===============
*/

.contact {
    padding: 0.6rem;
}

.contact-channel-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (min-width:1145px) {
    .contact {
        width: 70vw;
        margin: var(--sectionTopMargin) auto;
    }
}



